<li class="confirm_ingredient">
	<%= button_to_remove_fields f %>
	<%= f.text_field :amount, class: "amount" %>
	<%#= ingredient.modifiers %>
	<%= f.text_field :name, class: "name" %>
	<%= f.text_field :modifiers, class: "modifiers" %>
</li>