$primary:           #6B1919;
$primary-dark:      darken($primary,30%);
$primary-light:     lighten($primary,30%);

$secondaryA:        #009595;
$secondaryA-dark:   darken($secondaryA,30%);
$secondaryA-light:  lighten($secondaryA,30%);

$secondaryB:        #9BE800;
$secondaryB-dark:   darken($secondaryB,30%);
$secondaryB-light:  lighten($secondaryB,30%);
